<h1> index board threads </h1>
<div id="main-body">
  <% @board_threads.each do |board_thread|  %>
      <div id="threads-list">
        <%=
            link_to board_thread.title , [board_thread, :posts]
        %>
        created_at <%= board_thread.created_at.to_s %>　| <%= link_to '削除', board_thread, method: :delete , data: { confirm: "削除してもよろしい？"}%>
      </div>
  <% end  %>
  <%= link_to 'スレッド新規作成', :new_board_thread %>
</div>